.dice-button {
  width: 100px;
  height: 100px;
  border-radius: 13%;
  font-size: 40px;
  margin: 5px;
}

.dice-button-pressed {
  width: 100px;
  height: 100px;
  border-radius: 13%;
  font-size: 40px;
  background-color: darkgrey;
  margin: 5px;
}
