.score-card-header {
    color: black;
    font-size: 50px;
font-weight: bold;
}

.score-card-body {
    background-color: #03a9f4;
    color:black
}

.score-row {
    background-color: lightblue;
    color: darkred;
}
.total-score {
    background-color: hotpink;
    color: darkblue;
}