.score-card-header {
    color: black;
    font-size: 50px;
font-weight: bold;
}

.score-card-body {
    color:black
}

.score-row {
    background-color: lightblue;
    color: black;
}
.total-score {
    background-color: lightgreen;
    color: darkblue;
}